body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 98%);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
}
